VITE_EMAILJS_SERVICE_ID=service_xtwd896
VITE_EMAILJS_TEMPLATE_ID=template_kr9semd
VITE_EMAILJS_PUBLIC_KEY=ftES1Kqg6QZ-aKf35
STRIPE_SECRET_KEY=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
STRIPE_WEBHOOK_SECRET=whsec_xKb1a0C90bNu4BSe6FJNxUZXF8BKlQjn

# URL of the hosted Express API server (used when deployed via FTP to separate static hosts)
# Example: https://ais-pre-wuxio3q7xom7blk4n3u6xo-42694906819.europe-west3.run.app
VITE_API_URL=